<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476640118702-8gigtpqncbgij2b5rb346vmlfiso8eu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476640118702-8gigtpqncbgij2b5rb346vmlfiso8eu7</string>
	<key>API_KEY</key>
	<string>AIzaSyDcoFX-h-t57pH4YZc2WbYsUYmPBwRfhnY</string>
	<key>GCM_SENDER_ID</key>
	<string>476640118702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mr.-Beast.PublicCoin</string>
	<key>PROJECT_ID</key>
	<string>publiccoin-2d138</string>
	<key>STORAGE_BUCKET</key>
	<string>publiccoin-2d138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476640118702:ios:102cb60f9def208ebbaa3f</string>
</dict>
</plist>